.thick-line {
    border-top: 3px solid black;
    width: 100%;
    margin: 10px 0;
  }
  
  /* Timeline Styling */
  .timeline {
    list-style: none;
    padding: 0;
    position: relative;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 2px;
    height: 100%;
    background-color: black;
  }
  
  .timeline li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
  }
  
  .timeline li::before {
    content: "●";
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 20px;
    color: black;
  }
  

@media(max-width:640px){
    .outer{
        padding: 0rem 0rem;
    }
}