/* Top Navigation Bar Styling */
.top-nav {
  background: #4e459a;
  color: white;
  padding: 0.5rem 5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  /* margin: 0; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.top-nav ul li a:hover {
  text-decoration: underline;
}

/* Main Navbar Styling */
.main-navbar {
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  width: auto;
}

.navbar-nav .nav-link,
.nav-dropdown {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.nav-dropdown:hover {
  color: #4e459a;
}

/* Dropdown Menu */
#nav-dropdown {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

#nav-dropdown .dropdown-item:hover {
  background: #4e459a;
  color: white;
}

/* Mobile Responsive Styles */
@media (max-width: 992px) {
  .top-nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
